{% extends "layouts/default.twig" %}
{% block content %}
    <section id="login-section">
        <h1 class="heading">Login</h1>
        <form action="{{ route('user.login') }}" method="POST">
            <div>
                <label for="firstname">Votre Nom</label>
                <input type="text" name="firstname">
                {% for error in errors.firstname %}
                    {{error}}
                {% endfor %}
            </div>
            <div>
                <label for="pass">Votre mot de passe</label>
                <input type="text" name="pass">
                {% for error in errors.pass %}
                    {{error}}
                {% endfor %}
            </div>
            <button class='btn' type="submit">Se connecter</button>
        </form>
    </section>

{% endblock %}