* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  position: relative;
  background-color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  padding: 0 10vw;
  display: flex;
  justify-content:flex-end !important;
  align-items: center;
  background: #fcfcfc !important;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
}

.nav-link {
  text-decoration: none;
  color: #000000b2;
  margin: 0 5px;
  padding: 10px;
  text-transform: uppercase !important;
  background: #fcfcfc !important;
  font-size: 1.1rem !important;
  transition: 0.5s;
}


/* header */

.header {
  width: 100%;
  height: 100vh;
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header-heading {
  padding-top: 40px;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.header-heading .brand-name {
  display: block;
  text-transform: uppercase;
  font-size: 5rem;
  margin: 10px 0;
  font-weight: 400;
}

.brand-name span {
  color: #e4c930;
}

.btn {
  color: #121212;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 10px 30px;
  text-transform: capitalize;
  margin-right: 20px;
}

.btn-edit {
  color: #270f0f;
  text-decoration: none;
  cursor: pointer;
  background: #f0903d;
  border: 1px solid #e57d22;
  border-radius: 10px;
  padding: 10px 30px;
  text-transform: capitalize;
  margin-right: 20px;
}

.btn-delete {
  color: #160505;
  text-decoration: none;
  cursor: pointer;
  background: #f12929;
  border: 1px solid #a31d1d;
  border-radius: 10px;
  padding: 10px 30px;
  text-transform: capitalize;
  margin-right: 20px;
}

.header-img {
  padding: 20px;
  border-radius: 25%;
  width: 400px;
  height: 400px;
}

#about-section {
  position: relative;
  padding: 30px 5vw;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 100px;
}

.about-container {
  width: 100%;
  margin: 50px 0 100px;
  display: flex;
  gap: 100px;
}

.image-container {
  position: relative;
}

.info {
  padding: 20px;
}

.info p { 
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 30px 0;
}

.about-img {
  width: 90%;
  height: 500px;
  display: block;
  object-fit: cover;
  margin: 10px auto;
  border-radius: 10px;
}

.square {
  width: 100px;
  height: 120px;
  border-radius: 10%;
  background: #e4c930;
  position: absolute;
  right: 10px;
  top: -30px;
  z-index: 1;
  transform: rotate(45deg);
}

.social-links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-img {
  width: 30px;
  height: 30px;
  opacity: .4;
  transition: .5s;
}

.social-img:hover {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #9f526430;
}

#project-section {
  position: relative;
  margin: 50px 0;
  padding: 0 10vw; 
}

.deck-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#contact-section {
  margin: 100px 0;
  padding: 0 10vw;
}

.form {
  width: 100%;
  margin-top: -50px;
}

input,
textarea {
  width: 100%;
  height: 5vh;
  font-size: 0.9rem;
  padding: 1vw;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

::placeholder {
  color: #b4b4b4;
  text-transform: capitalize;
}

textarea {
  height: 20vh;
  font-family: 'roboto', sans-serif;
  resize: none;
}

.contact-btn {
  padding: 10px 20px;
  background: #e4c930;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

#login-section {
  position: relative;
  margin: 50px 0;
  padding: 100px 10vw;
}

#article-section {
  position: relative;
  margin: 50px 0;
  padding: 100px 10vw;
}

footer {
  height: 100px;
  margin-left: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.09);
}

.ss-copyright {
  margin-top: 2rem;
  padding-right: 80px;
}

.ss-copyright span {
  font-size: 14px;
  display: inline-block;
}

.ss-copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

.ss-copyright span:last-child::after {
  display: none;
}

.card-item {
  width: 296px;
  height: 312px;
  padding: 20px;
  background-color: rgba(227, 223, 223, 0.774);
  border: 1px solid #f3eded;
  border-radius: 5px;
  margin: 10px 0;
}

.card-title {
  padding-top: 30px;
  width: auto;
  height: 80px;
  font-size: 20px;
  font-weight: 600;
}

.extract {
  width: auto;
  height: 138px;
  font-size: 20px;
}

.section-table-admin {
  position: relative;
  margin: 50px 0;
  padding: 0 10vw;
}

#comment-section {
  position: relative;
  margin: 50px 0;
  padding: 0 10vw;
}

#postedcomments-section {
  position: relative;
  margin: 50px 0;
  padding: 0 10vw;
}

.comment {
  width: 100%;
  height: 120%;
  font-size: 0.9rem;
  padding: 1vw;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

.comment-admin {
  width: 45%;
  height: 120%;
  font-size: .9rem;
  padding: 1vw;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
}

.comment-content {
  width: 100%;
  height: 120%;
  font-size: 1.5rem;
  margin: 10px 0;
}

.red-error {
  color: red;
  padding-bottom: 20px;
}

.message-success {
  color: rgb(7, 70, 7);
  background-color: rgb(205, 237, 173);
  border: rgb(7, 70, 7) 1px solid;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 15px;
}

.log-message {
  padding: 40px;
  background-color: rgba(227, 223, 223, 0.774);
  border: 1px solid #f3eded;
}

@media (max-width: 600px) {
  /* Fix the container about */

  .about-container {
    width: 100%;
    margin: 30px 0 80px;
    display: block;
    gap: 20px;
  }

  footer {
    height: 80px;  
    margin-left: 100px;
    margin-bottom: 20px;
  }
  
  .image-container {
    width: 100%;
    position: relative;
  }
  .header-heading {
    padding-left: 40px;
    padding-top: 120px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .center-mobile {
    display: flex;
    justify-content: center;
  }

  .info {
    margin-top: 20px;
  }

  .heading-mobile {
    margin-top: 60px;
  }

}

