
.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: none;
}
  
.li-drop:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
 
  display: block;
}
.dropdown{
  background-color: aliceblue;
}

.li-drop {
  text-decoration: none;

  padding: 1rem;
  clear: both;
  width: 100%;
}

.has-dropdown:focus-within > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}


.padd40top{
  padding-top: 40px;
}


.padd80top{
  padding-top: 80px;
}

.padd40bot{
  padding-bottom: 40px;
} 

.padd20bot{
  padding-bottom: 20px;
}


table{caption-side:bottom;border-collapse:collapse}
  

table th,
table td {
    text-align: left;
    padding: 6px;
}
table,
th,
td {
    border: 1px solid #000;
}