.padd40top {
  padding-top: 40px;
}

.padd80top {
  padding-top: 80px;
}

.padd40bot {
  padding-bottom: 40px;
} 

.padd20bot {
  padding-bottom: 20px;
}

.margin20tb{
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
} 

table th,
table td {
  text-align: left;
  padding: 6px;
}

table th td {
  border: 1px solid #000;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}