.dropdown {
  background-color: aliceblue;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: none;
}

.li-drop:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.li-drop {
  text-decoration: none;
  padding: 1rem;
  clear: both;
  width: 100%;
}

.has-dropdown:focus-within > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

.padd40top {
  padding-top: 40px;
}

.padd80top {
  padding-top: 80px;
}

.padd40bot {
  padding-bottom: 40px;
} 

.padd20bot {
  padding-bottom: 20px;
}

.margin20tb{
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
} 

table th,
table td {
  text-align: left;
  padding: 6px;
}

table th td {
  border: 1px solid #000;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}