
{% extends "layouts/default.twig" %}
{% block stylesheet %}
<link href="http://localhost/BlogPost-main/public/assets/css/style.css" rel="stylesheet">

{% endblock %}
{% block content %}

    <section id="contact-section">
        <h1 class="heading">contact</h1>
        <div class="form">
            <input type="text" placeholder="nom">
            <input type="email" placeholder="email">
            <input type="text" placeholder="sujet">
            <textarea placeholder="message"></textarea>
            <button class="contact-btn">contact</button>
        </div>
    </section>

    
{% endblock %}

{% block javascripts %}
            
{% endblock %}
