{% extends "layouts/default.twig" %}

{% block content %}
    <p class="text-center" >Je suis la page index du controller : HomeController</p>
    <div>
    {% for post in posts %}
        <p>{{post.id}}</p>
        <p>{{post.title}}</p>
        <p>{{post.extract}}</p>
        <a href="{{ route('home.show', {'id':post.id})}}">lire la suite</a>
    {% endfor %}
    </div>
{% endblock %}
